.page {
  scroll-behavior: smooth;
  color: $main-text-page;

  &:has(.page__menu:target) {
    overflow: hidden;
  }

  &__body {
    min-width: $mobile-min-width;
    margin: 0;
    background-color: $page-bg-color;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(-100%);

    opacity: 0;

    transition: all $effectDuration;

    &:target {
      pointer-events: all;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
